<h2>Lazy Echarts component</h2>

<ng-container *ngIf="initOpts && options">
  <div
    echarts
    [options]="options"
    [loading]="isLoading"
    [initOpts]="initOpts"
    theme="macarons"
    class="demo-chart"
    (chartInit)="onChartEvent($event, 'chartInit')"
    (chartClick)="onChartEvent($event, 'chartClick')"
    (chartDataZoom)="onChartEvent($event, 'chartDataZoom')"
    (chartInit)="onChartInit($event)"
  ></div>
</ng-container>

<button (click)="init('svg')">INIT NEW SVG</button>
<button (click)="init('canvas')">INIT NEW CANVAS</button>
<button (click)="isLoading = !isLoading">Toggle Loading</button>
